@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  color: #000;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: 'Poppins', sans-serif;
}

:root {
  --main-green: #328e6e;
  --hover-blue: #547792;
  --red-alert: #e63946;
}